.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.headerRow .headerRowBackground {
  background-color: #286fa1; /* #F0F0F0 */
  color: #FFF;
}

.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  color: #ffffff; /* #727273 */
  font-size: 14px;
}

.headerRow--main-header-mobile .headerRowBackground {
  padding: 10px 0px;
  background-color: #F0F0F0;
}
